{% extends "base.html" %}
{% block page_title %}Produto{% endblock page_title %}
{% block content %}
    <h1>Produto</h1>

    {%if produto_list %}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor (R$)</th>
                    <th scope="col">Processo</th>
                </tr>
            </thead>
            <tbody table-striped>

                {% for produto in produto_list %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.preco}}</td>
                        <a href="#" class="btn btn-primary">Ver Detalhes </a>
                    </tr>
                {% endfor %}

            </tbody>

        </table>
    {% else %}
        <p class="alert alert-info">Nenhum produto encontrado.</p>
    {% endif %}

{% endblock content %}