<!-- {% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Editar {{ produto.nome }}</h1>
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
{% endblock %} -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title%} 
  {% if produto.pk %} 
    Editar de produto
  {% else %}
    Nova produto
  {% endif %}
{% endblock page_title %}

{% block content %}
  {% if produto.pk %} 
    <h1>Editar de produto</h1>
  {% else %}
    <h1>Nova produto</h1>
  {% endif %}

    <Form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}