{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title%} 
  {% if arbitragem.pk %} 
    Edição da Arbitragem
  {% else %}
    Nova Arbitragem
  {% endif %}
{% endblock page_title %}

{% block content %}
  {% if arbitragem.pk %} 
    <h1>Edição da Arbitragem</h1>
  {% else %}
    <h1>Nova Arbitragem</h1>
  {% endif %}

    <Form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}