{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Moedas{% endblock page_title %}
{% block content %}
    <h1>Moedas</h1>    
    <p></p>
    <p></p>
    {%if moedas_list %}
        <label text='Total de moedas cadastradas:'></label>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Símbolo</th>
                    <th scope="col">Nome</th>
                    {% comment %} <th scope="col">Plataformas</th> {% endcomment %}
                    <th scope="col">Valor</th>
                    {% comment %} <th scope="col">Data</th> {% endcomment %}
                </tr>
            </thead>
            <tbody table-striped>

                {% for moeda in moedas_list %}
                    <tr>
                        <td >{{ moeda.idn }}</td>
                        <td>{{ moeda.symbol }}</td>
                        <td>{{ moeda.name }}</td>
                        {% comment %} <td>{{ moeda.platforms }}</td> {% endcomment %}
                        <td>{{ moeda.currency}}</td>                        
                        {% comment %} <td>{{ moeda.data | date:"d/m/Y"}}</td> {% endcomment %}
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    {% else %}
        <form method="POST" action = "{% url 'moedas_importar' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="alert alert-info">Nenhuma moeda encontrada.</p>
            <p></p>
            <button type="submit" name="importar_btn" class="btn btn-primary">Importar moedas</button>
        </form>
    {% endif %}

{% endblock content %}